html{
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 100vh;
}

button{
    height: 45px;
    width: 45px;
    margin: 5px;
    text-align: center;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 220px;
    margin: 5px;
    border: 2px solid gray;
    font-size: 24px;
    font-weight: bold;

}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightgray;
    border: 2px solid gray;
    width: 240px;
    height: 370px;
    padding: 20px;

}

#backspace, #point {
    width: 104px;
    height: 40px;

}

.top{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;

}